{% extends "base.html" %}
{% load static %}


{% block title %}<title>About</title> {% endblock %}

{% block body %} <body class="about-us sidebar-collapse">{% endblock %}

{% block content %}
  <div class="page-header header-filter header-small" data-parallax="true" style="background: linear-gradient(45deg, #33ccff 0%, #ff99cc 100%);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 style="font-family: 'Work Sans', Arial, sans-serif;"><strong style="font-weight: 600;">About</strong> Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h5 class="description">I am grateful to my supervisor,<strong> Dr. Ashok k. Dubey</strong> , Professor in NSIT Delhi. Ashok sir 
              provided me an opportunity to join his laboratory work under his supervision where I completed my Bachelors thesis project 
              successfully. It was my pleasure working under him. I would like to express my deepest thanks 
              to him for supporting and encouraging me whenever required to work hard and achieve more. It was sir support and encouragment to think out of the box and develop something new or innovative.</h5>
          </div> 
        </div>
      </div>
      <div class="about-team team-1">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 style="font-weight: 600;">Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto text-center">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="{% static 'img/faces/sir.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Dr. Ashok k. Dubey</h4>
                <h6 class="category text-muted">Professor NSIT</h6>
                <p class="card-description">
                  More than 74 publications, 20k + reads on research gate, and 602 citations. Current research interests include novel anti-fungal and anti-bacterial antibiotics from microbes, Industrial Enzymes and Biofuel.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="https://www.researchgate.net/profile/Ashok_Dubey2" class="btn btn-just-icon btn-link btn btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
                <a href="adubey.nsit@gmail.com" class="btn btn-just-icon btn-link btn-google">
                  <i class="fa fa-google"></i>
                </a>
                <a href="http://www.nsit.ac.in/faculty/bt1/" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-dribbble"></i>
                </a>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto mr-auto text-center">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="{% static 'img/faces/sagar.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Sagar Saini</h4>
                <h6 class="category text-muted">Student</h6>
                <p class="card-description">
                  Undergraduate final year student at NSIT Delhi equipped with a Bachelor of engineering degree in Biotechnoloy.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="https://www.instagram.com/sagar__saini" target="blank" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="https://github.com/chasesagar" class="btn btn-just-icon btn-link btn-github">
                  <i class="fa fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/chasesagar" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="testimonials-2 section-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card card-testimonial card-plain">
                      <div class="card-avatar">
                        <a href="#pablo">
                          <img class="img" src="{% static 'img/faces/sagar.jpg' %}">
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet Kanye I speak yell scream directly at the old guard on behalf of the future. My brother Chance!!!
                          <br>Thank you for letting me work on this masterpiece. One of my favorite people."
                        </h5>
                        <h4 class="card-title">Kendall Thompson</h4>
                        <h6 class="card-category text-muted">CEO @ Marketing Digital Ltd.</h6>
                        <div class="footer">
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card card-testimonial card-plain">
                      <div class="card-avatar">
                        <a href="#pablo">
                          <img class="img" src="{% static 'img/faces/sagar.jpg' %}">
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-description">"Thank you Anna for the invite thank you to the whole Vogue team Called I Miss the Old Kanye At the God's last game Chop up the soul Kanye. I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna for the invite thank you to the whole Vogue team."
                        </h5>
                        <h4 class="card-title">Christian Louboutin</h4>
                        <h6 class="card-category text-muted">Designer @ chasesagar &amp; Co.</h6>
                        <div class="footer">
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                          <i class="material-icons text-warning">star</i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicatorss" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

  

  <div class="main main-raised">
    <div class="container">
      <div class="about-contact">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center" style="font-weight: 600;">Want to work with us?</h2>
            <h4 class="text-center description">Contact us about any further collaboration. We will get back to you in a couple of hours.</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name" class="bmd-label-floating">Your name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email" class="bmd-label-floating">Your Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-4" style="padding-top: 10px;">
                  <select class="selectpicker " data-style="select-with-transition" data-size="7">
                    <option value="1" disabled>Speciality</option>>
                    <option value="2">I&apos;m a Researcher</option>
                    <option value="3">I&apos;m a Developer</option>
                    <option value="4">Other</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-round">
                    Let&apos;s talk
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}