{% extends "base.html" %}
{% load static %}


{% block title %}<title>Reverse Complement</title> {% endblock %}

{% block body %}<body class="about-page sidebar-collapse">{% endblock %}

{% block content %}

  <div class="page-header header-filter header-small" data-parallax="true" style="background: linear-gradient(45deg, #33ccff 0%, #ff99cc 100%);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 style="font-family: 'Work Sans', Arial, sans-serif;"><strong style="font-weight: 600;">Reverse</strong> Complement</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="profile-section">
        <div class="row">
          <div class="col-sm-8">
            <form role="form" id="contact-form" action="" method="POST" style="padding: 40px; padding-left: 20px; padding-right: 20px;">
              {% for message in messages %}
                <h5 class="text-danger">{{message}}</h5>
              {% endfor %}
              {% csrf_token %}
              <div class="form-group label-floating">
                <label class="form-control-label bmd-label-floating" for="message"> Please enter DNA or RNA sequence</label>
                <textarea class="form-control" rows="7" id="message" name="sequence" required></textarea>
                <span class="bmd-help">Without Spacing</span>
              </div>
              <div class="form-group">
                <h4>Sequence Type</h4>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="DNA" id="exampleRadios1" value="option1" checked>
                  DNA
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="DNA" id="exampleRadios2" value="option2" disabled>
                  RNA
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>

              <div class="form-group">
                <h4>Advanced Option</h4>
            
              </div>
              
                  <select class="selectpicker" name="option" data-style="select-with-transition" title="Select" data-size="10">
                    <option value="0" selected>Default</option>
                    <option value="1">Reverse</option>
                    <option value="2">Complement </option>
                    <option value="3">Reverse Complement</option>
                  </select>
              
              
              <div class="submit text-center" style="padding-top: 40px;">
                <input type="submit" class="btn btn-info btn-raised btn-round" value="Calculate">
                <button type="reset" class="btn btn-danger btn-fab btn-round">
                  <i class="material-icons">refresh</i>
                </button>
              </div>
            </form>
          </div>

          <div class="col-md-4 ml-auto">
              <div class="card bg-danger">
                <div class="card-body">
                  <h5 class="card-category card-category-social">
                    <i class="fa fa-newspaper-o"></i> Article
                  </h5>
                  <h4 class="card-title">
                    &quot; What is Reverse Complement &quot;
                  </h4>
                  <p class="card-description">
                    The reverse complement of a DNA sequence is formed by reversing the letters, interchanging A and T and interchanging C and G. Thus the reverse complement of ACCTGAG is CTCAGGT.
                  </p>
                  <div class="card-stats justify-content-center">
                    <a href="http://genewarrior.com/docs/exp_revcomp.jsp" class="btn btn-white btn-round">Read Article</a>
                  </div>
                </div>
              </div>
            
              <div class="rotating-card-container">
                <div class="card card-rotate">
                  <div class="front">
                    <div class="card-body">
                      <h5 class="card-category card-category-social text-success">
                        <i class="fa fa-newspaper-o"></i> Article
                      </h5>
                      <h4 class="card-title">
                        Reverse Complement
                      </h4>
                      <p class="card-description">
                        Reverse Complement converts a DNA sequence into its reverse, complement, or reverse-complement counterpart. You may want to work with the reverse-complement of a sequence if it contains an ORF on the reverse strand.
                      </p>
                    </div>
                  </div>
                  <div class="back">
                    <div class="card-body">
                      <h5 class="card-title">
                        Do more...
                      </h5>
                      <p class="card-description">
                        You can read this article for more information...
                      </p>
                      <div class="footer text-center">
                        <a href="https://en.wikipedia.org/wiki/Complementarity_(molecular_biology)" class="btn btn-rose btn-round">
                          <i class="material-icons">subject</i> Read
                        </a>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
